.container
  .board_title
    %p Brackets
  .boards_list
    .card
      .card_mark
        = image_tag 'IMG_7500.jpg'
      .card_title
        %p Title
      .card_content
        %p content
      .card_detail
        = image_tag 'IMG_7500.jpg'

