.container
  .board_label
    %p Brackets
  .boards_list
    - @tasks.each do |task|
      = render ('common/board'), task: task
    = link_to new_board_task_path(@tasks) do
      .float_btn
        .float_btn_title
          + All new Card     
            

