.container
  %h1 All board
  .boards_list
    - @boards.each do |board|
      = render 'board', board: board
  
  = link_to new_board_path do
    .float_btn
      .float_btn_title
        + All new Board     

