@import 'variables';

$card-margin-l: 10px;

.boards_list{
    font-weight: 800;
    // font-size: 26px;
    // line-height: 36px;
    padding: 8px 10px;

    h2{
        color: black;
        margin-left: $card-margin-l;
    }

    .board_title-content{
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        vertical-align: middle;
    }
}

.task_eyecatch{
    text-align: center;
    margin: 10px 0 ;

    img{
        width: 90%;
        border-radius: 100px;
    }
}

.card{
    background-color: $color-base;
    margin: 16px 20px;
    border-radius: 10px;
    cursor: pointer;
    word-wrap: break-word;

    &_title{
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        padding: 32px 0 10px 10px;
        color: black;
        //float: left;

    }

    &_mark {
        // float: right;
        padding-top: 25px;
        cursor: pointer;
        width: auto;
        height: 130px;
        position: relative;
        overflow: hidden;
        
        img{
            position: absolute;
            padding: 0 10px;
            width: 100%;
            border-radius: 13px;
        }
      }

    &_content{
        font-size: 14px;
        line-height: 19px;
        opacity: 0.8;
        min-height: 30px;
        padding: 10px;
        padding-left: 10px;  

    }
    
    

    .card_info{
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        padding-bottom: 10px;
        vertical-align: middle;

        .card_icon{
            display: flex;
            justify-content: space-between;
             
            img{
                cursor: pointer;
                width: $avatar-size;
                height: $avatar-size;
                border-radius: 100%;
                vertical-align: middle;
                display: inline-block;
                vertical-align: middle;
                margin-right: 5px;
            }
        }

        .card_user_info{
            

            p{
                height: 10px;
                margin-bottom: 3px;
                font-weight: normal;
                font-size: 10px;
            }
        }
    }

    &_detail{
        cursor: pointer;
        position: absolute;
        right: 15px;
        top: 0;

        img{
            width: 30px;
            height: 30px;
            width: 100%;
            border-radius: 100%;
            vertical-align: middle;
        }
        
        
      }
}