@import 'variables';

.dropbtn {
  border: none;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    position: absolute;
    right: 0px;
    display: none;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 8px 16px;
    text-decoration: none;
    background-color: white;
    font-weight: normal;
    min-width: 120px;
    display: block;
    color: $text-base-color;
    font-size: 13px;
    padding: 8px 16px;
    line-height: 16px;
  }

.dropdown-content a:hover {
    background-color: white;
  }

.dropdown:hover .dropdown-content {
    display: block;
}

