input {
  margin-bottom: 5px;
  &.text {
    width:  100%;
    min-height: 40px;
    border: 1px solid #EBEBEB;
    border-radius: 10px;

    background-color: #F4F4F4;
    ;
  }
}

label {
  font-size: 16px;
}

textarea {
  width: 100%;
  min-height: 140px;
  border: 1px solid #EBEBEB;
  border-radius: 10px;

  background-color: #F4F4F4;
  ;
}