@import 'variables';


$header-padding-y: 10px;
$avatar-size: 30px; 

.header{
    position: relative;
    font-family: $text-base-font-family;
    display: flex;
    justify-content: space-between;
    background-color: $primary-color;
    padding: $header-padding-y 16px;
    border-bottom: 0.5px solid $color-base;


    &_title{
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        padding-left: 12px;
        padding-top: 3px;
        vertical-align: middle;

    }

    &_avatar{
        width: $avatar-size;
        height: $avatar-size;
        border-radius: 100%;
        vertical-align: middle;
        cursor: pointer;
    }

    &_loginBtn{
        position: absolute;
        right: 16px;
        height: $avatar-size;
        min-width: 40px;
        text-align: center;
        background-color: $color-base;
        border-radius: 5px;
        font-size: 12px;
        padding: 5px 0;
        cursor: pointer;
    }
    
}




